body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #ccc;}

.button:disabled{
  background-color: grey;
  cursor: no-drop;
}
.button {
  width:50px;
  height:30px;
  margin:5px;
  padding: 0;
  border-radius: 10%;
  background-color: #ef6464;

}
.update{
  background-color: #5ba05b;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
form {
  position: fixed;
  left: 0;
  top:300px;
  z-index: 100;
  width: 100%;
  height: 200px;
  background-color: rgba(0,0,0,0.58);
  text-align: center;
  padding: 30px;
}
form button{
  width: 80px;
  height: 40px;
  border-radius: 10%;
  border: 1px solid green;
  background-color: #5ba05b;


}
form input{
  margin: 2px;
}
form select {
  width: 150px;
  height: 26px;
}
form p{
  font-size: 25px ;
  color: white;
}
.backdrop{
  width: 100%;
  height: 1000px;
  position: absolute;
  top:0;
  left:0;
  z-index: 30;
  background-color: rgba(0,0,0,0.35);
}
label{
  color :white;
}
